# .gitignore

# whitelist mode

/*
!/.gitignore
!/.gitmodules
!/.editorconfig

#-allow list
#--cxx
!/core/
!/core/*
!/extension/
!/extension/*
!/error/
!/error/*

!/.clang-format
!/.clang-tidy
!/CMakeLists.txt
!/LICENSE

#--github
!/.github/
!/.github/*
